.carousel {
  max-width: 1500px;
  margin: 0 auto;
  min-width: 100%;
}

.carousel-item {
max-height: 350px;
}
.carousel-inner {
overflow: visible;
}
.carousel-indicators {
display: none;
}

@media screen and (max-width: 950px) {

  /* .row__container {
    margin-top:-54px ;
  }
   */
  }
  @media screen and (max-width: 650px) {
  .home__row {
    flex-wrap: wrap;
    margin: 0;
  }
  .carousel-item {
    max-height: 155px;
  }
  /* .row__container {
    margin-top:-31px ;
  } */
  
  }
  @media screen and (max-width: 560px) {
  .carousel-item {
    max-height: 80px;
  }
  
  }